/****** PLACE YOUR CUSTOM STYLES HERE ******/

.signup-container{
  bottom:10%!important;
}
.highlight{
  color:#3F51B5 !important;
}
.btn{
  background-color:#3F51B5;
}
.btn.btn-filled{
  border-color: #3F51B5 !important;
}
/*@media (max-width:768px){
  .cover-title{
    font-size:20px !important;
    letter-spacing:8px !important;
  }
}*/
